body {
  font-family: Helvetica, sans-serif;
  background-color: #F8ECC2;
}

a {
  text-decoration: none;
  font-weight: 900;
  color: #000;
}

h1, #search-section, button {
  text-align: center;
  margin: 40px 0;
}

h1 {
  font-size: 36px;
  font-family: 'Major Mono Display', monospace;
  padding-top: 6%;
}

.blue {
  color: blue;
}

.red {
  color: red;
}

.orange {
  color: orange;
}

.green {
  color: green;
}

.book {
  font-size: 30px;
}

input {
  width: 33%;
  background-color: #F0ECC2;
  border-radius: 16px;
  padding: 8px 10px 8px 10px;
  font-size: 16px;
  margin: 0 0 40px 0;
  outline-width: 0;
}

button {
  display: none;
}

#results {
  margin: auto;
}

ul {
  list-style-type: none;
}

li {
  padding: 6px;
}

.read-more {
  margin-bottom: 60px;
}